---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/auction/data/medivh?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sun, 18 Sep 2016 16:20:59 GMT
      Retry-After:
      - '600'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '9'
      X-Plan-Quota-Reset:
      - Sunday, September 18, 2016 5:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"files":[{"url":"http://auction-api-us.worldofwarcraft.com/auction-data/ab1239c3bc437d48321a64e6b5e5ab7f/auctions.json","lastModified":1474215659000}]}'
  recorded_at: Sun, 18 Sep 2016 16:29:34 GMT
recorded_with: VCR 3.0.3
