---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/character/archimonde/sweetlie?apikey=<API_KEY>&fields=titles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sun, 18 Sep 2016 13:12:13 GMT
      Retry-After:
      - '600'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '11'
      X-Plan-Quota-Reset:
      - Sunday, September 18, 2016 5:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"lastModified":1474204333000,"name":"Sweetlie","realm":"Archimonde","battlegroup":"Misery","class":11,"race":8,"gender":1,"level":110,"achievementPoints":16975,"thumbnail":"archimonde/223/134141151-avatar.jpg","calcClass":"U","faction":1,"titles":[{"id":81,"name":"%s
        the Seeker"},{"id":76,"name":"Flame Keeper %s"},{"id":78,"name":"%s the Explorer"},{"id":121,"name":"Twilight
        Vanquisher %s"},{"id":127,"name":"%s of the Horde"},{"id":129,"name":"%s,
        Champion of the Frozen Wastes"},{"id":130,"name":"Ambassador %s"},{"id":134,"name":"Merrymaker
        %s"},{"id":135,"name":"%s the Love Fool"},{"id":140,"name":"%s of the Nightfall"},{"id":142,"name":"%s
        the Undying"},{"id":143,"name":"%s Jenkins"},{"id":150,"name":"%[...]
