---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/data/guild/perks?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Retry-After:
      - '600'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '11'
      X-Plan-Quota-Reset:
      - Sunday, September 18, 2016 5:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"perks":[{"guildLevel":1,"spell":{"id":78633,"name":"Mount Up","subtext":"Guild
        Perk","icon":"achievement_guildperk_mountup","description":"Increases speed
        while mounted by 10%.  Not active in Battlegrounds or Arenas.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83944,"name":"Hasty
        Hearth","subtext":"Guild Perk","icon":"achievement_guildperk_hastyhearth","description":"Reduces
        the cooldown on your Hearthstone by 15 minutes.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83951,"name":"Guild
        Mail","subtext":"Guild Perk","icon":"achievement_guildperk_gmail","description":"In-game
        mail sent between guild members now arrives instantly.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83950,"name":"The
        Quick and the Dead","subtext":"Guild Perk","icon":"achievement_guildperk_quickanddead","description":"Increases
        health gained when resurrected by 50% and increases movement speed while dead
        by 10%.  Does not function in combat or while in a Battleground or Arena.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83958,"name":"Mobile
        Banking","subtext":"Guild Perk","icon":"achievement_guildperk_mobilebanking","description":"Summons
        a Guild Chest that allows access to your guild bank for 5 min.  Only guild
        members with guild reputation of friendly and above are allowed to use a Guild
        Chest.","castTime":"3 sec cast","cooldown":"60 min cooldown"}}]}'
  recorded_at: Sun, 18 Sep 2016 16:29:55 GMT
recorded_with: VCR 3.0.3
