---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/guild/archimonde/ZeratoR%20TV?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sun, 18 Sep 2016 16:20:03 GMT
      Retry-After:
      - '600'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '14'
      X-Plan-Quota-Reset:
      - Sunday, September 18, 2016 5:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"lastModified":1474215603000,"name":"ZeratoR TV","realm":"Archimonde","battlegroup":"Misery","level":25,"side":1,"achievementPoints":2595,"emblem":{"icon":67,"iconColor":"ffb1b8b1","iconColorId":14,"border":3,"borderColor":"ffffffff","borderColorId":14,"backgroundColor":"ffff38fa","backgroundColorId":36}}'
  recorded_at: Sun, 18 Sep 2016 16:30:02 GMT
recorded_with: VCR 3.0.3
