---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/achievement/4496?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Retry-After:
      - '600'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '7'
      X-Plan-Quota-Reset:
      - Sunday, September 18, 2016 5:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":4496,"title":"It''s Over Nine Thousand!","points":10,"description":"Earn
        more than 9000 achievement points.","rewardItems":[],"icon":"ability_warrior_innerrage","criteria":[{"id":12698,"description":"","orderIndex":1,"max":1}],"accountWide":true,"factionId":2}'
  recorded_at: Sun, 18 Sep 2016 16:29:33 GMT
recorded_with: VCR 3.0.3
