---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/quest/28096?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Retry-After:
      - '600'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-126.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '6'
      X-Plan-Quota-Reset:
      - Sunday, September 18, 2016 5:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":28096,"title":"Welcome to the Machine","reqLevel":19,"suggestedPartyMembers":0,"category":"Hillsbrad
        Foothills","level":20}'
  recorded_at: Sun, 18 Sep 2016 16:27:30 GMT
recorded_with: VCR 3.0.3
