---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/recipe/27984?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Retry-After:
      - '600'
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '7'
      X-Plan-Quota-Reset:
      - Sunday, September 18, 2016 5:00:00 PM GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":27984,"name":"Mongoose","profession":"Enchanting","icon":"spell_holy_greaterheal"}'
  recorded_at: Sun, 18 Sep 2016 16:29:05 GMT
recorded_with: VCR 3.0.3
